.ApplyBtn{
  padding: 15px 40px !important;
}
.groupToolWrapper{
  margin-top: 20px !important;
}
.tableWrapper{
  width: 700px;
}
.sentBtn{
  margin-top: 20px !important;
  padding: 5px 40px !important;
}