.ApplyBtn{
  padding: 15px 40px !important;
}
.groupToolWrapper{
  margin-top: 20px !important;
}
.tableWrapper{
  width: 700px;
}
.sentBtn{
  margin-top: 20px !important;
  padding: 5px 40px !important;
}
table{
  border-collapse: collapse;
  border-spacing: 0px;
  margin-top: 10px;
  min-width:90%;
  max-width: 230px;
  text-align: center;
}
table, th, td{
  padding: 5px;
  border: 1px solid #000;
}